.admin-form-wrapper {
    width: 100%;
    background: $secondary-color;
    padding: $big-space;

    .title {
        font-weight: $font-weight-bold;
        color: $black-color;
        font-size: $big-text;
        margin-bottom: $medium-space;
    }

    .inputs {
        .item {
            margin: $medium-space 0;

            input {
                border: $border-input-width $border-style $black-color;
                padding: $small-space;
                transition: $transition;
                font-size: $medium-text;
                border-radius: $border-small-radius;
                width: 100%;
                max-width: $mobile-width;

                &:focus {
                    border: $border-input-width $border-style $primary-color;
                }
            }

            input[type="file"] {
                display: none;
            }

            .file-upload {
                border: $border-input-width $border-style $black-color;
                display: inline-block;
                padding: $small-space $medium-space;
                color: $black-color;
                font-size: $medium-text;
                cursor: pointer;
            }
        }

        .review-img {
            display: block;
            margin-top: $medium-space;
            width: $big-img-width;
            height: $big-img-height;
            object-fit: $object-fit;
            border: $border-width $border-style $black-color;
        }
    }

    .error-mess {
        position: absolute;
        color: red;
    }

    .success-mess {
        position: absolute;
        color: green;
    }

    button {
        padding: $small-space $medium-space;
        background: $primary-color;
        color: $white-color;
        border-radius: $border-small-radius;
        font-weight: $font-weight-bold;
        font-size: $medium-text;
        margin-top: $medium-space;

        &:hover {
            opacity: $opacity;
            transition: $transition;
        }
    }
}

.admin-login-wrapper {
    height: 100vh;
    background: $secondary-color;
    text-align: center;
    align-items: center;
    display: flex;

    .error-mess {
        position: relative;
    }

    a {
        display: block;
        color: $black-color;
        font-weight: $font-weight-bold;
        font-size: $medium-text;
        white-space: nowrap;
        margin: $medium-space auto 0;
        width: fit-content;

        &:hover {
            color: $primary-color;
            transition: $transition;
        }
    }
}