.admin-list-wrapper {
    padding: $big-space 0;

    .action {
        display: flex;
        gap: $medium-space;
        margin-bottom: $big-space;

        .btn-action {
            padding: $small-space;
            background: $primary-color;
            color: $white-color;
            border-radius: $border-small-radius;
            font-weight: $font-weight-bold;
            font-size: $medium-text;

            &:hover {
                opacity: $opacity;
                transition: $transition;
            }

            &.trash {
                background: transparent;
                color: $black-color;
            }
        }
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    td img {
        width: $small-img-width;
        height: $small-img-height;
        object-fit: $object-fit;
        border: $border-width $border-style $black-color;
    }

    td,
    th {
        border: $border-width $border-style $black-color;
        text-align: left;
        padding: $small-space;
    }

    td i:hover {
        opacity: $opacity;
        transition: $transition;
        cursor: pointer;
    }

    td i.btn-edit {
        color: $black-color;
    }

    tbody tr:nth-child(odd) i.btn-edit {
        color: $white-color;
    }

    tbody tr:nth-child(odd) {
        background: $primary-color;
        color: $white-color;
    }

    tbody tr:nth-child(even) {
        background: $secondary-color;
        color: $black-color;
    }

    tbody tr td i.btn-edit:hover {
        color: orange;
    }

    tbody tr td i.btn-delete:hover {
        color: red;
    }

    td[colSpan] {
        text-align: center;
    }
}

@media (max-width: ($mobile-width)) {
    .admin-list-wrapper {
        table {
            display: block;
            overflow-x: auto;
        }
    }
}