$primary-color: #6F4E37;
$secondary-color: #FFF7E6;
$white-color: #FFFFFF;
$black-color: #0B0B0B;

$big-space: 40px;
$medium-space: 20px;
$small-space: 10px;

$big-text: 30px;
$medium-text: 18px;
$small-text: 14px;

$max-width: 1000px;
$max-width-small: 95%;
$header-height: 80px;
$medium-width: 700px;
$mobile-width: 500px;

$max-img-width: 100%;
$max-img-height: 66.67%;
$big-img-width: 300px;
$big-img-height: 200px;
$medium-img-width: 180px;
$medium-img-height: 120px;
$small-img-width: 90px;
$small-img-height: 60px;

$border-medium-radius: 10px;
$border-small-radius: 4px;
$border-width: 2px;
$border-input-width: 1px;
$border-style: solid;

$font-weight-bold: 700;
$object-fit: cover;
$opacity: 0.8;
$transition: 0.5s;