@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

input {
    outline: none;
}

@import './variables';
@import './app/components';
@import './admin/list';
@import './admin/form';
@import './app/header';
@import './app/footer';
@import './app/news';
@import './app/products';
@import './app/home';
@import './app/productDetail';
@import './app/cart';