.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;
    box-shadow: 0 0 4px $black-color;
    background: $white-color;
    z-index: 1;

    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        max-width: $max-width;
        margin: 0 auto;

        .header-left {
            text-align: center;
            padding: $small-space;

            &:hover {
                background: $secondary-color;
                border-radius: $border-medium-radius;
                transition: $transition;
                cursor: pointer;
            }

            .left-title {
                display: block;
                color: $primary-color;
                font-size: $big-text;
                text-shadow: 2px 2px 4px $black-color;
                font-style: italic;
            }

            .left-desc {
                font-size: $small-text;
                font-weight: $font-weight-bold;
                opacity: $opacity;
                color: $black-color;
            }
        }

        .header-right {
            display: flex;
            align-items: center;

            .right-icon-menu {
                display: none;
            }

            .right-main {
                display: flex;
                gap: $small-space;

                .right-icon-close {
                    display: none;
                }

                .right-item {
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    color: $black-color;
                    font-size: $small-text;
                    font-weight: $font-weight-bold;
                    opacity: $opacity;
                    padding: $small-space;

                    &:hover {
                        color: $primary-color;
                        transition: $transition;
                    }

                    &.active {
                        background: $primary-color;
                        color: $white-color;
                        border-radius: $border-small-radius;
                        transition: $transition;
                    }
                }

                .right-btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: $big-space;
                    padding: $small-space;
                    border-radius: $border-medium-radius;
                    background: $primary-color;
                    font-weight: $font-weight-bold;

                    a {
                        color: $white-color;
                    }

                    i {
                        margin-left: $small-space;
                        font-size: $medium-text;
                    }
                }
            }
        }
    }
}

@media (max-width: ($max-width + $big-space)) {
    .header-wrapper {
        .header-container {
            max-width: $max-width-small;

            .header-right {
                .right-main {
                    .right-btn {
                        margin-left: 0;

                        span {
                            display: none;
                        }

                        i {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: (700px)) {
    .header-wrapper {
        .header-container {
            align-items: start;

            .header-left {
                height: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
            }

            .header-right {
                flex-direction: column;

                .right-icon-menu {
                    display: block;
                    width: 100%;
                    font-size: $big-text;
                    text-align: right;
                    line-height: $header-height;
                    cursor: pointer;
                }

                .right-main {
                    opacity: 1;
                    transition: $transition;

                    &.close {
                        right: -100%;
                        opacity: 0;
                    }

                    .right-icon-close {
                        display: block;
                        text-align: right;
                        font-size: $big-text;
                        cursor: pointer;
                    }

                    flex-direction: column;
                    padding: $medium-space;
                    background: white;
                    box-shadow: 0 0 2px $black-color;
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 100vh;
                    width: 40vw;
                    min-width: 280px;
                }
            }
        }
    }
}